*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  background: #e8ffef;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.wrapper .icon:hover circle {
  fill: red;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  /* top: -70px;*/
  background: #e8ffef;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
  top: -70px; /*для анимации*/
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #e8ffef;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: red;
}







/* .wrapper-2 {
  display: inline-flex;
  background-color: aqua;
} */

.tooltip-2-wrapper {
  position: relative;
  /* margin: 0 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1;
  cursor: pointer;
  /* transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55); */
  /* background-color: rgb(0, 153, 153); */
}

.tooltip-toggle {
  position: relative;
  height: 26px;
  width: 26px;
  display: flex;
  /* background: #e8ffef; */
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tooltip-2 {
  position: absolute;
  width: 300px;
  top: 50px;
  /* top: -70px; */
  background: #000000;
  color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 25px;
  opacity: 0;

  pointer-events: none;
  /* transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55); */
}

.tooltip-2::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #000000;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  /* transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55); */
}

.tooltip-2-wrapper:hover .tooltip-2{
  /*top: -70px; для анимации*/
  opacity: 1;
  pointer-events: auto;
}




/* .label-number {
  box-sizing: border-box;
  width: 242px;
  background-color: aquamarine;
}
.label-title__column-kids {
  margin-right: 10px;
}



.wrapper-tooltip {
  background-color: brown;
  display: inline-flex;
}

.icon-tooltip {
  position: relative;
  background-color: rgb(148, 148, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 20px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.tooltip-toggle {
  position: relative;
  height: 26px;
  width: 26px;
  display: flex;
  background: #e8ffef;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.tooltip {
  position: absolute;
  top: 0;
  top: -70px;
  background: #e8ffef;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}


.wrapper-input-number {
  width: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.input-number {
  width: 30px;
  height: 48px;
  border: none;
  background-color: gray;
} */

/*
.wrapper-2 .icon-2:hover .tooltip-toggle,
.wrapper-2 .icon-2:hover .tooltip-2 {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}


.wrapper-2 .facebook:hover .tooltip-toggle,
.wrapper-2 .facebook:hover .tooltip-2,
.wrapper-2 .facebook:hover .tooltip::before {
  background: red;
}


.wrapper-2 .icon-2:hover circle {
  fill: red;
}*/
