html {
  background-color: azure;
}

body {
  margin: 0;
  background-color: rgb(95, 227, 253);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.lg {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows:
    100px
    1fr
    30px;
  grid-gap: 10px;
  min-height: 100vh;
}

.lg-header {
  grid-area: header;
  background-color: #fcfdaf;
}

.lg-footer {
  grid-area: footer;
  background-color: #fcfdaf;
}

.lg-content {
  grid-area: content;
  background-color: #b0affd;
}

.lg-content p {
  width: 500px;
  margin: 0 auto;
}
