@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body{
  margin: 0;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #F2F2F2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Декоративные изображения
-фотографии Седоны
-иконки
-копирайт
*/

/* Изображения Главный экран */

.main-hero-img {
  min-height: 485px;

  background-image: url("../img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #82B3D3;
  color: #FFFFFF;
}

/* Изображения advantages */

.advantages-house-icon {
  width: 75px;
  height: 72px;

  background-image: url("../img/house-icon.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

.advantages-food-icon {
  width: 75px;
  height: 70px;

  background-image: url("../img/food-icon.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

.advantages-souvenir-icon {
  width: 75px;
  height: 72px;

  background-image: url("../img/souvenir-icon.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

/* Каталог */

.inner-header {
  min-height: 412px;

  background-image: url("../img/inner-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Главная страница*/

/*header*/

.page-navigation {
  position: relative;

  display: flex;
  padding: 0 70px;
  margin: 0 auto;
}

.navigation-logo-link {
  position: absolute;
}

.navigation-logo-link:hover {
  opacity: 0.6;
}

.navigation-list-right {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 168px;

  list-style: none;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  text-align: center;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px;
  left: 16px;
  right: 16px;
  background-color: #756257;
}

.navigation-list-user {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-search {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;

  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.icon-favorites {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  margin-right: 20px;

  background-image: url("../img/favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.icon-favorites-counter {
  position: absolute;
  top: 9px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 100%;
}

.icon-search:hover,
.icon-favorites:hover {
  opacity: 0.6;
}

/* Главный экран */

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/* main-advantages  блок с описанием преимуществ  */

.wrapper-text {
  max-width: 684px;
  margin: 0 auto;
  text-align: center;
}

.wrapper-text__main {
  padding-top: 69px;
  padding-bottom: 69px;
}

.wrapper-text-min {
  max-width: 510px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 45px;
  text-align: center;
}

.text-title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.text-title-min {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}


.text-description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 22px;
  line-height: 26px;
}

.text-description-min {
  margin-top: 0;
  margin-bottom: 64px;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  max-width: 1200px;
  display: grid;
  margin: 0;
  padding: 0;

  grid-template-columns: repeat(3, 1fr);

  list-style-type: none;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.advantages-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.advantages-description__icon {
  padding-top: 81px;
  padding-bottom: 81px;
}

.advantages-title {
  padding-top: 102px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title__line::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title__line-black {
  padding-top: 113px;
}

.advantages-title__line-black::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title__icon {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.advantages-text {
  margin: 0;
  padding: 0;
  padding-bottom: 99px;
  text-align: center;
}

.advantages-text__line-black {
  padding-bottom: 112px;
}

.advantages-text__icon {
  padding: 0;
}

.cedona-photo {
  display: block;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}

.first-row__first-cell {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.first-row__second-third-cell {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.second-row__ferst-cell {
  background-color: rgba(131, 179, 211, 0.12);
}

.second-row__second-cell {
  background-color: rgba(131, 179, 211, 0.2);
}

.second-row__third-cell {
  background-color: rgba(131, 179, 211, 0.12);
}

.third-row__first-cecond-cell {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.therd-row__therd-cell {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.fourth-row__first-cecond-therd-cell {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.fifth-row__first-cell {
  background-color: rgba(131, 179, 211, 0.12);
}

.fifth-row__second-cell {
  background-color: rgba(131, 179, 211, 0.2);
}

.fifth-row__therd-cell {
  background-color: rgba(131, 179, 211, 0.12);
}

/* search-hotel Секция поиска */

.wrapper-text__search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.text-title__min {
  margin-bottom: 20px;
}

.text-description__min {
  margin-bottom: 54px;
}

/* subscribe Секция подписки */

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-text__subscribe {
  padding-top: 96px;
  padding-bottom: 106px;
}

.subscribe-background {
  min-height: 415px;
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #82B3D3;
  color: #FFFFFF;
}

.subscribe-background .text-title {
  color: #FFFFFF;
}

/* page-footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-link {
  display: flex;
  width: 47px;
  height: 40px;
  margin: 0;

  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-social-link > svg:hover {
  fill: #68A2CA;
}

.footer-social-link > svg:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-address-phone-link:hover {
  color: #756157;
}

.footer-contacts-address-phone-link:active {
  color: #7561574D;
}

.footer-developer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-developer-link {
  width: 115px;
  height: 33px;
  display: block;
  mask: url("../img/logo-htmlacademy.svg") no-repeat center;
  -webkit-mask: url("../img/logo-htmlacademy.svg") no-repeat center;
  background-color: #000000;
}

.footer-developer-link:hover {
  background-color: #756157;
}

.footer-developer-link:active {
  background-color: rgba(117, 97, 87, 0.30);
}

/* Модальное окно */

.modal-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  width: 577px;
  padding: 64px 70px;
  background-color:#FFFFFF;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;

  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;

  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  background-color: #AFAFAF;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  padding-bottom: 64px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-date {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.label-title {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.label-title__column {
  width: 127px;
  word-break: break-all;
}

.label-title__column-kids {
  display: flex;
  justify-content: flex-end;
  width: 97px;
  padding-left: 40px;
  word-break: break-word;
}

.input-date {
  margin-bottom: 4px;
  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.input-date[placeholder] {
  width: 400px;
  padding: 12px 20px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.input-date[placeholder]:hover {
  background-color: #F6F6F6;
}

.label-text {
  margin-bottom: 24px;
  padding-left: 157px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.error-text {
  color: #FF5757;
}

.valid-text {
  color: #333333;
}

.wrapper-persons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.label-number {
  display: flex;
  align-content: center;
  align-items: center;
}

.wrapper-input-number {
  position: relative;

  width: 110px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.button-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 4px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
}

.input-number {
  width: 31px;
  height: 48px;
  padding: 0 5px;
  margin: 0 5px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  border: none;
  background-color: #F2F2F2;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
}

.input-number:hover,
.input-number:focus {
  -moz-appearance: number-input;
}

.input-number[placeholder]:active {
  border: none;
}

.button-down svg:hover,
.button-down svg:focus,
.button-plus svg:hover,
.button-plus svg:focus {
  fill: #000000;
  fill-opacity: 1;
}

.button-down:active,
.button-plus:active {
  border: 2px solid #82B3D3;
}

.button-down svg:active {
  fill: #756157;
  fill-opacity: 0.3;
}

.button-result {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 18px 77px;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;

  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
}

.button-result:hover {
  background-color: #68A2CA;
}

.button-result:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/* Тултип */

.tooltip-wrapper {
  position: relative;
  z-index: 1;

  margin-right: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
}

.tooltip-toggle {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  height: 26px;
  width: 26px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: none;
}

.tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 256px;
  top: 50px;
  padding: 15px 18px 18px 22px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;

  background: #333333;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.tooltip::before {
  position: absolute;
  top: -8px;
  left: 50%;

  box-sizing: border-box;
  content: "";
  height: 15px;
  width: 15px;

  background: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

/* Каталог гостиниц */

.inner-header-container {
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs-item {
  max-width: 300px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url("../img/arrow-right.svg");
  width: 8px;
  height: 21px;
  padding: 5px 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-price {
  width: 288px;
  margin: 0 70px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  line-height: 23px;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  display: flex;
  align-items: center;
}

.control-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;

  background-color: #FFFFFF;
  border-radius: 4px;
  appearance: none;

  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position:  center top 6px;
  background-size: 13px 10px;
}

.control-input[type="checkbox"]:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;

  background-color: #FFFFFF;
  border-radius: 50%;
  appearance: none;

  cursor: pointer;
}

.control-input[type="radio"]:checked {
  background-image: url("../img/tick-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px 10px;
}

.control-input[type="radio"]:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.range-fields {
  display: flex;
  gap: 2px;
  margin-bottom: 46px;
}

.range-field {
  position: relative;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 12px 63px 12px 20px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input {
  -moz-appearance: textfield;
}

.range-input:hover,
.range-input:focus {
  -moz-appearance: number-input;
}

.input-number[placeholder]:active {
  border: none;
}

.range-input__left {
  border-radius: 4px 0 0 4px;
  border: none;
}

.range-input__right {
  border-radius: 0 4px 4px 0;
  border: none;
}

.range-input[placeholder] {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F2F2F2;
}

.range-input[value] {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.range-title {
  position: absolute;
  top: 50%;
  right: 20px;

  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-max {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.range-toggle:hover {
  background-color: #E5E5E5;
}

.range-toggle:active {
  background-color: #FFFFFF;
  outline: 2px solid #83B3D3;
}

.filter-buttons {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.catalog-hotel {
  display: grid;
  width: 1060px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.catalog-hotel-sorting {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-hotel-title {
  padding: 0;
  margin: 0;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  min-height: 49px;
  padding: 14px 40px 12px 20px;
  margin-right: auto;


  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  background-image: url("../img/arrow-bottom.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: right 20px center;

  border-radius: 4px;
  border: 2px solid #E5E5E5;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-grid-toggle {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  list-style: none;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 18px 19px;

  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-image {
  grid-column: 2 span;
}

.product-card-title {
  grid-column: 2 span;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

}

.product-card-price {
  justify-self: end;
}

.card-link {
  text-decoration: none;
}

.product-card-rating {
  align-self: center;
}

.product-card-rating-text {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 60px;

  list-style-type: none;
  border-top: 1px solid #E6E6E6;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;

  background-color: #82B3D3;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link:disabled {
  background-color: #E5E5E5;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:active,
.pagination-current:disabled {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current-dot,
.pagination-current-dot:hover,
.pagination-current-dot:active,
.pagination-current-dot:disabled {
  background-color: #FFFFFF;
  color: #000000;
}

/* Кнопки */

.button {
  display: inline-block;
  padding: 8px;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-word;

  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.header-button {
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.header-button:disabled {
  background-color: #E5E5E5;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;

}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.search-button:disabled {
  background-color: #E5E5E5;
}

.subscribe-button {
  box-sizing: border-box;
  min-height: 52px;
  max-width: 232px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  margin: 0;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
}

.input-email {
  display: inline-block;
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.filter-submit-button {
  margin-bottom: 32px;
  background-color: #82B3D3;
  border: none;
}

.filter-submit-button:hover {
  background-color: #68A2CA;
}

.filter-submit-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.filter-reset-button {
  background-color: rgba(130, 178, 211, 0);
  border: none;
}

.filter-reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-button:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.card-button-brown {
  align-self: start;
}

.card-button-brown:hover {
  background-color: #615048;
}

.card-button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.card-button-brown:disabled {
  background-color: #E5E5E5;
}

.card-button-blue {
  background-color: #82B3D3;
  align-self: start;
}

.card-button-blue:hover {
  background-color: #68A2CA;
}

.card-button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.card-button-blue:disabled {
  background-color: #E5E5E5;
}

.card-button-active {
  background-color: #7DB54F;
}

.card-button-active:hover {
  background-color: #6C9E42;
}

.card-button-active:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.30);
}

.card-button-active:disabled {
  background-color: #E5E5E5;
}
